@tailwind base;
@tailwind components;
@tailwind utilities;
/* ______________________scroll */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 #e6e9eb;
  border-radius: 50px;
  height: 100px;
}
/* ______________________scroll track start */
.scrollbar::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 8px;
}
/* ______________________scroll track end */
.scrollbar::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #c7dcff;
  border-radius: 50px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #eaedf0;
}
